<!DOCTYPE html>
<html>
<head>
<title>E-Commerce Store</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>🛒 E-Commerce Store</h1>

<div class="navbar">
<a href="/register">Register</a>
<a href="/login">Login</a>
<a href="/cart">Cart</a>
<a href="/orders">Orders</a>
</div>

<div class="products">

{% for p in products %}

<div class="card">
    <img src="{{ p.image }}"
     style="width:100%;
            height:200px;
            object-fit:cover;
            border-radius:15px;">

<h2>{{ p.name }}</h2>

<p class="price">₹{{ p.price }}</p>

<a href="/add_to_cart/{{ p.id }}">
<button>Add To Cart</button>
</a>

</div>

{% endfor %}

</div>

</body>
</html>